<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Spring Boot - POST-GET AJAX Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj"
          crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
            integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>


<body>


<div class="container">
    <h2>Загрузите файл</h2>


    <div class="form-group">
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-warning" value="Upload"/></td>
                </tr>
            </table>
        </form>
    </div>



    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}"/>
            </li>
        </ul>
    </div>


    <div th:if="${files.isEmpty()!=true}">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data" action="/clear">
                <table>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-danger" value="Очистить всё"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>





</div>


</body>


</html>



